<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%= JSON.stringify(photo) %> 

    <img src="/<%= photo.imageUrl %>" width="850px" alt="ini gambar">
    <p><%= photo.title %> by <%= photo.User.username %></p>
    <p><%= photo.imageUrl %></p>

</body>
</html>